.container{
    max-width: 100% !important;
    width:90% !important;
}

.word{
    font-size:24px;
    font-weight: bold;
    display:inline-block;
    /* background :rgba(255,255,255,0.7); */
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:10px;
    padding-right:10px;
    margin-right:10px;
}

#word-Modify-Button{
    margin-right: 5px;
}

.object{
    background:#1b9b90;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 4px;
    width: 100%;
    color: white;
    font-size: 24px;
    border-radius: 15px;
}
.wordContainer{
    display: inline-block;
    border: black;
    padding: 10px;
}
#contextMenu, #addWord{
    display:none;
}
#contextMenu-input{
    padding-bottom: 10px;
}

.contextMenu{
    background-color: grey;
    border: 3px black;
    text-align: center;
    padding : 15px;
    width: auto;
    position: absolute;
}

div.container
{
    font-family: Raleway;
    margin: 3 auto;
	text-align: left;
}

div.container .circleBehind{
    max-width: 1920px;
    width: 100%;
    padding : 0px;
    margin : 0px;
}

div.container .word
{
    color: #FFF;
    text-decoration: none;
    font: 24px Raleway;
    margin: 0px 10px;
    padding: 4px 4px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.circleBehind .word:before, div.circleBehind .word:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #0277bd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.circleBehind .word:after
{
    border-width: 2px;
    transition: all 0.4s;
}

div.circleBehind .word:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind .word:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/*
 * @lastUpdate 19-11-09 / 18:52
 * @lastAuthor 박현채
 * @param header
 * @explain nav
 */

#textarea-word::placeholder {
    color:black !important;
}

.resultLogo {
    font-size: 15px;
    font-weight: 800;
}

.resultLogoSpan {
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.spanCenter {
    text-align-last: center;
}

.resultLogoA, .resultLogoA:link, .resultLogoA:visited {
    text-decoration: none;
    color: red;
}

.resultLogoA:hover {
    text-decoration: none;
    color: rgb(236, 122, 122);
    font-weight: bold;
}

/*
 * @lastUpdate 19-11-09 / 19:22
 * @lastAuthor 박현채
 * @param footer -CreateButton
 * @explain -CreateButton
 */

 .scriptEditBtnDiv {
    text-align: center;
 }

 #scriptEditBtn {
    font-size: 18px;
    letter-spacing: 0.08em;
    padding:0 1.2em;
    margin: 15px;
    background:#2e3842;
    color:#fff;
    border:none;
    position:relative;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 5px;
}
#scriptEditBtn:hover {
    color: black;
    background-color: white;
}

#scriptEditBtn:before,#scriptEditBtn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #2e3842;
    transition:400ms ease all;
  }
  #scriptEditBtn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #scriptEditBtn:hover:before,#scriptEditBtn:hover:after{
    width:100%;
    transition:500ms ease all;
  }