.word{
    font-size:20px;
    font-weight: bold;
    display:inline-block;
    background : white;
    border: 1px solid red;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:10px;
    padding-right:10px;
    margin-right:10px;
}
.object{
    background:coral;
    border : 1px solid red;
    margin-bottom: 10px;
}
.wordContainer{
    display: inline-block;
}
#contextMenu, #addWord{
    display:none;
}
#contextMenu-input{
    padding-bottom: 10px;
}