<!DOCTYPE HTML>
<html>
	<head>
		<title>EPT: Easy Presentation Tool</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="/">EPT</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">Home</a></li>
											<li><a href="#">Guidelines</a></li>
											<li><a href="#">about Membership</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Easy Presentation Tool</h2>
							<p>EPT는 발표대본분석을 통해 발표자료를 제작합니다.<br />
							간단한 문장입력과 배치로 발표자료를 꾸며보세요.<br /><br />
							create by <a href="https://github.com/PresentJay/EasyPresentationTool">'EPT Team'</a></p>
							<ul class="actions special">
								<li><a href="#" class="button primary">사용법 보기</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">대본 입력하러가기 </a>
					</section>
					
				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>EPT의 대본분석기가 입력받은 문장을 분석하여<br />
								발표자료에 들어갈만한 요소들을 만들어 줍니다.</h2>
								<form action="/result" method="POST">
								<textarea class="textAreaCss" name="str" placeholder="발표자료에 사용할 대본 또는 문장을 입력해보세요." required></textarea>
								<button id="OneBtn" type = "submit">생성하기</button>
								</form>
							</header>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="../static/images/pic01.jpg" alt="" /></div><div class="content">
								<h2>더이상 발표자료의 디자인을<br />
								빈 화면으로부터 고민하지 마세요</h2>
								<p>당신의 발표 대본이나, 자료를 글로 입력하는 것으로 충분히<br>발표할 도구(pptx)를 준비할 수 있습니다.<br/>
								자료가 빠르게 시각화되는 것을 경험해보세요!</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="../static/images/pic02.jpg" alt="" /></div><div class="content">
								<h2>대본이나 자료를 글로 입력해 넣고,<br />
									디자인은 "마치 쇼핑하듯이"<br>클릭하기만 하면 됩니다.</h2>
								<p>짧은 시간에, 더 많은 자료정리, 디자인 테스트를 손쉽게 할 수 있습니다. <br />
									이미 결정된 형태라도 손쉽게 다른 모양으로 바꿀 수 있다는 뜻이죠!</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="../static/images/pic03.jpg" alt="" /></div><div class="content">
								<h2>더이상 사진이나 동영상을 찾는 데<br />
								어려워하거나 시간을 많이 쓰며 고민하지 마세요!</h2>
								<p>Ept를 통해서 정리된 자료의 글들에 대해서<br>'구글', '유튜브' 등에 검색된 자료를 검토하실 수 있습니다.<br><br/>
								또한, 저작권이 걱정되시는 많은 분들을 위해,<br>'픽사베이', '언스플래시'의 자료 역시 검토하실 수 있어요!<br/><br>
								자료를 준비하실 때, 당연하게도, 손쉽게<br>사진/동영상의 배치나 내용을 테스트할 수 있다는 거죠!</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Easy Presentation Tool의 사용법</h2>
								<p><b>Ept는 당신의 글(대본 또는 자료 정리본)을 "분석"하고, 당신이 "분석을 편집"하여,<br />
								Ept가 분석에 따라 추천한 "슬라이드를 선택"한다면, "발표자료 획득"이 가능한 구조입니다.</b></p>
								<p>하지만, 분석기의 성능이 계속해서 나아지고 있는 중이기 때문에<br>
								입력하시는 글은 아래의 Tip을 따르신다면 훨씬 나은 결과를 받으실 수 있을 거에요.<br><br><br></p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane">
									<h3>Tip 1. [ 낱말 수정/삭제 기능 ]</h3>
									<p>[ 낱말을 누르시면, 수정/삭제가 가능해요! ]</p>
								</li>
								<li class="icon solid fa-laptop">
									<h3>Tip 2. [ 낱말 합치기 기능 ]</h3>
									<p>[ 낱말을 클릭, 드래그하시면, 선택한 낱말 + " " + 도착 낱말로 합쳐집니다. ]</p>
								</li>
								<li class="icon solid fa-code">
									<h3>Tip 3. [ 문장 추가/삭제 기능 ]</h3>
									<p>[ 슬라이드에 해당하는 문장을 추가 또는 삭제할 수 있습니다. ]</p>
								</li>
								<li class="icon solid fa-headphones-alt">
									<h3>Tip 4. [ 낱말 추가 기능 ]</h3>
									<p>[ 낱말 역시 마음껏 추가가 가능해요! ]</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Ept의 멤버십에 대해 알아보세요.</h2>
								<p>Ept는 멤버에게 더 나은 경험을 선물해드리고자 준비중에 있습니다.(미구현)</p>
							</header>
							<ul class="actions stacked">
								<li><a href="#" class="button fit primary">멤버십 가입</a></li>
								<li><a href="#" class="button fit">멤버십이란?</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>Developed by EptDev Team</li><li>2019.08~</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>